* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background: #e0b804;
}

.wrapper {
  width: 30%;

  margin: 25vh auto;
  padding: 50px 40px;

  background: #1a1818;

  border-radius: 20px;

  text-align: center;
}

.wrapper #emoji {
  font-size: 100px;

  margin-bottom: 70px;
}

.wrapper p {
  font-size: 20px;
  font-weight: 600;

  color: #fff;

  margin-bottom: 100px;
  line-height: 40px;
}

.wrapper button {
  font-size: 15px;

  padding: 10px;

  outline: none;
  border: none;
  border-radius: 10px;

  background: #e0b804;

  cursor: pointer;
}